Source: quayshell
Section: x11
Priority: optional
Maintainer: Daniel Hirt <danielhirt@users.noreply.github.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 pybuild-plugin-pyproject,
 python3-all,
 python3-pytest,
 python3-setuptools,
 zsh
Standards-Version: 4.7.0
Homepage: https://github.com/danielhirt/quayshell
Rules-Requires-Root: no

Package: quayshell
Architecture: all
Depends:
 gir1.2-gtk-4.0,
 gir1.2-vte-3.91,
 libgtk4-layer-shell0,
 python3,
 python3-gi,
 ${misc:Depends},
 ${python3:Depends}
Description: persistent Wayland terminal
 Quayshell is a persistent GTK4 and VTE terminal for Wayland layer-shell
 compositors.
